div.top-row 

  div.elementsperside__select.prettyselect(ng-if="tplTableCtrl.opts.entriesPerPageCount && tplTableCtrl.opts.showPagination")
    select.top-row__entry-count.input-sm(ng-model="tplTableCtrl.opts.entriesPerPageCount" ng-options="o as o for o in tplTableCtrl.POSSIBLE_RANGE_VALUES" ng-style="{'color': tplTableCtrl.opts.colors.secondaryColor}" ng-change="tplTableCtrl.onPageSizeChange()")
  
  span.elementsperside__label(ng-if="tplTableCtrl.opts.entriesPerPageCount && tplTableCtrl.opts.showPagination")
    | {{ 'TABLE_ENTRIES_PER_SITE' | translate }} {{dataOrder}}
  
  form(ng-if="tplTableCtrl.opts.searchModel!==null" ng-submit="setSearch()")
    input.top-row__search(type="text" ng-model="tplTableCtrl.searchInput" placeholder="{{'TABLE_SEARCH'|translate}}")

table.tpltable 

  thead.tpltable__head 
    tr
      th(ng-repeat="column in tplTableCtrl.opts.columns" ng-if="!column.ngIf || column.ngIf()")
        span(ng-if="!column.translateColumn") {{column.name}}
        span(ng-if="column.translateColumn") {{column.name | translate}}
      
      th.edit(ng-if="tplTableCtrl.opts.showActionsColumn") Aktionen

  tbody.tpltable__body 

    tr.tpltable__row--placeholder(ng-if="!tplTableCtrl.opts.entries || !tplTableCtrl.opts.entries.length || tplTableCtrl.opts.loading")
      td(colspan="{{tplTableCtrl.opts.entrieValuesOrder.length + (tplTableCtrl.opts.showActionsColumn ? 1 : 0)}}")
        span(ng-if="!tplTableCtrl.opts.loading {{tplTableCtrl.opts.noDataAvailableText | translate}}")
        loadingpoints(ng-if="tplTableCtrl.opts.loading")

    tr(ng-if="tplTableCtrl.opts.entries && tplTableCtrl.opts.entries.length" ng-repeat="row in tplTableCtrl.opts.entries")

      td(ng-repeat="cell in tplTableCtrl.opts.entrieValuesOrder" ng-mouseleave="hover=false" ng-mouseenter="hover=true" ng-style="tplTableCtrl.editableCell[0]===$parent.$parent.$index && {'background-color': tplTableCtrl.opts.colors.primaryColor, 'color': tplTableCtrl.opts.colors.primaryFontColor}" ng-class="{'clickable': tplTableCtrl.opts.onRowClick, 'notclickable': !tplTableCtrl.opts.onRowClick || tplTableCtrl.editableCell[0]!==null}" ng-click="!tplTableCtrl.opts.onRowClick || tplTableCtrl.editableCell[0]!==null || tplTableCtrl.opts.onRowClick($parent.$parent.$index)" ng-if="!tplTableCtrl.opts.columns[$index].ngIf || tplTableCtrl.opts.columns[$index].ngIf()")

        div(ng-if="(tplTableCtrl.editableCell[0]!==$parent.$parent.$parent.$index || tplTableCtrl.editableCell[1]!==$index || !tplTableCtrl.opts.columns[$index].editable)")
          //- TEXT
          div.cell__text(ng-if="tplTableCtrl.opts.columns[$index].content === tplTableCtrl.POSSIBLE_CONTENT_TYPES[0]")
            span(ng-if="!tplTableCtrl.opts.columns[$index].translateValues")
              | {{(cell.indexOf('.') !== -1 ? tplTableCtrl.getCellValue(row, cell) : row[cell]) | checkmark}} {{columnValues[$index]}}
            
            span(ng-if="tplTableCtrl.opts.columns[$index].translateValues")
              | {{((tplTableCtrl.opts.columns[$index].translateValuePrefix ? tplTableCtrl.opts.columns[$index].translateValuePrefix : '') + (cell.indexOf('.') !== -1 ? tplTableCtrl.getCellValue(row, cell) : row[cell])) | translate}} {{columnValues[$index]}}
            
          
          //- IMAGE
          div.cell__image(ng-if="tplTableCtrl.opts.columns[$index].content === tplTableCtrl.POSSIBLE_CONTENT_TYPES[1]")
            img(ng-src="{{row[cell]}}" ng-style="{'max-width': tplTableCtrl.opts.columns[$index].maxWidth ? tplTableCtrl.opts.columns[$index].maxWidth : '250px', 'max-height': tplTableCtrl.opts.columns[$index].maxHeight ? tplTableCtrl.opts.columns[$index].maxHeight : '250px'}")
          
          //- OTHER ???
        

        span(ng-if="tplTableCtrl.editableCell[1]===$index && tplTableCtrl.editableCell[0]===$parent.$index && tplTableCtrl.opts.columns[$index].editable")
          input.edit-input(type="text" ng-model="tplTableCtrl.tempEditColumnCopy[cell]" focus-me="tplTableCtrl.editableCell[1]===$index && tplTableCtrl.editableCell[0]===$parent.$parent.$index" ng-click="$event.stopPropagation()" ng-keyup="$event.keyCode == 13 && saveEditedColumn()")
          | {{columnValues[$index]}}
        

        div.cell-controll.edit(ng-if="tplTableCtrl.opts.columns[$index].editable && hover" ng-click="toggleEditCell($event, $parent.$parent.$index, $index)" ng-style="hoverEdit && {'background-color': tplTableCtrl.opts.colors.primaryColor, 'color': tplTableCtrl.opts.colors.primaryFontColor}" ng-mouseenter="hoverEdit=true" ng-mouseleave="hoverEdit=false")
          div.iconfont.tbl-iconfont-pen(ng-if="hover")
        
        div.cell-controll.save(ng-if="tplTableCtrl.opts.columns[$index].editable && tplTableCtrl.editableCell[0]===$parent.$index && tplTableCtrl.editableCell[1]===$index" ng-style="{'background-color': tplTableCtrl.opts.colors.secondaryColor, 'color': tplTableCtrl.opts.colors.secondaryFontColor}" ng-click="$parent.hover=false;saveEditedColumn()")
          div.iconfont.iconfont-check

      td.edit(ng-if="tplTableCtrl.opts.showActionsColumn")
        span.tbl-iconfont.tbl-iconfont-export(ng-if="tplTableCtrl.onAssign" ng-click="!tplTableCtrl.onAssign || tplTableCtrl.editableCell[0]!==null || tplTableCtrl.onAssign($index)")
        span.tbl-iconfont.tbl-iconfont-pen(ng-if="tplTableCtrl.onEdit" ng-click="!tplTableCtrl.onEdit || tplTableCtrl.editableCell[0]!==null || tplTableCtrl.onEdit($index)")
        span.tbl-iconfont.tbl-iconfont-delete(ng-if="tplTableCtrl.onDelete" ng-click="!tplTableCtrl.onDelete || tplTableCtrl.editableCell[0]!==null || tplTableCtrl.onDelete($index)")
        span.icon.icon-cal-button(ng-if="tplTableCtrl.onAdd" ng-click="!tplTableCtrl.onAdd || tplTableCtrl.editableCell[0] !== null || tplTableCtrl.onAdd($index)")
        span.iconfont.iconfont-check(ng-if="tplTableCtrl.onConfirm" ng-click="!tplTableCtrl.onConfirm || tplTableCtrl.editableCell[0]!=null || tplTableCtrl.onConfirm($index)")

div.bottom-row(ng-if="tplTableCtrl.opts.paginationModel && tplTableCtrl.opts.showPagination")

  div.paginator 

    div.paginator__first(ng-class="{'inactive': tplTableCtrl.opts.paginationModel === 1}" ng-style="tplTableCtrl.opts.paginationModel !== 1 && !pageFirstHover && {'color': tplTableCtrl.opts.colors.secondaryColor} || tplTableCtrl.opts.paginationModel !== 1 && pageFirstHover && {'color': tplTableCtrl.opts.colors.secondaryColor, 'background-color': tplTableCtrl.opts.colors.primaryColor}" ng-disabled="tplTableCtrl.opts.paginationModel === 1" ng-click="setPage(1)" ng-mouseenter="pageFirstHover=true" ng-mouseleave="pageFirstHover=false") {{'TABLE_PAGING_START'|translate}}

    div.paginator__mid(ng-if="tplTableCtrl.paginationStart > 1" ng-click="skipPagesBackward()" ng-style="pageMid1Hover && {'color': tplTableCtrl.opts.colors.secondaryColor, 'background-color': tplTableCtrl.opts.colors.primaryColor} || {'color': tplTableCtrl.opts.colors.secondaryColor}" ng-mouseenter="pageMid1Hover=true" ng-mouseleave="pageMid1Hover=false") ...

      div.paginator__mid(ng-class="{'active': i === tplTableCtrl.opts.paginationModel}" ng-repeat="i in [tplTableCtrl.paginationStart, tplTableCtrl.paginationEnd] | toRange" ng-click="setPage(i)" ng-style="i !== tplTableCtrl.opts.paginationModel && !pageMidHover && {'color': tplTableCtrl.opts.colors.secondaryColor} || i !== tplTableCtrl.opts.paginationModel && pageMidHover && {'background-color': tplTableCtrl.opts.colors.primaryColor, 'color': tplTableCtrl.opts.colors.secondaryColor} || {'color': tplTableCtrl.opts.colors.secondaryFontColor, 'background-color': tplTableCtrl.opts.colors.secondaryColor}" ng-mouseenter="pageMidHover=true" ng-mouseleave="pageMidHover=false") {{i}}

      div.paginator__mid(ng-if="tplTableCtrl.paginationEnd < tplTableCtrl.opts.pageCount" ng-click="skipPagesForward()" ng-style="pageMid2Hover && {'color': tplTableCtrl.opts.colors.secondaryColor, 'background-color': tplTableCtrl.opts.colors.primaryColor} || {'color': tplTableCtrl.opts.colors.secondaryColor}" ng-mouseenter="pageMid2Hover=true" ng-mouseleave="pageMid2Hover=false") ...

      div.paginator__last(ng-class="{'inactive': tplTableCtrl.opts.paginationModel === tplTableCtrl.opts.pageCount}" ng-style="tplTableCtrl.opts.paginationModel !== tplTableCtrl.opts.pageCount && !pageLastHover && {'color': tplTableCtrl.opts.colors.secondaryColor} || tplTableCtrl.opts.paginationModel !== tplTableCtrl.opts.pageCount && pageLastHover && {'color': tplTableCtrl.opts.colors.secondaryColor, 'background-color': tplTableCtrl.opts.colors.primaryColor}" ng-disabled="tplTableCtrl.opts.paginationModel === tplTableCtrl.opts.pageCount" ng-click="setPage(tplTableCtrl.opts.pageCount)" ng-mouseenter="pageLastHover=true" ng-mouseleave="pageLastHover=false") {{'TABLE_PAGING_END'|translate}}