$color: #ccc;

loadingpoints {
  svg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    rect {
      fill: $color;
    }
  }

  display: block;
  width: 30px;
  margin: auto;

  div {
    height: 6px;
    width: 6px;
    border-radius: 1px;
    margin: 2px;
    background-color: $color;
    float: left;
    -webkit-animation: loading-rect 1s infinite linear;
    -moz-animation: loading-rect 1s infinite linear;
    -o-animation: loading-rect 1s infinite linear;
    animation: loading-rect 1s infinite linear;

    &#rect3 {
      -webkit-animation-delay: -0.4s;
      -moz-animation-delay: -0.4s;
      -o-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    &#rect2 {
      -webkit-animation-delay: -0.2s;
      -moz-animation-delay: -0.2s;
      -o-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
    &#rect1 {
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -o-animation-delay: 0s;
      animation-delay: 0s;
    }

    @-webkit-keyframes loading-rect{
      0% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      50% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      75% { -webkit-transform: scaleY(0) scaleX(0); opacity: .4; }
      100% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
    }
    @-moz-keyframes loading-rect{
      0% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      50% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      75% { -webkit-transform: scaleY(0) scaleX(0); opacity: .4; }
      100% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
    }
    @-o-keyframes loading-rect{
      0% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      50% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
      75% { -webkit-transform: scaleY(0) scaleX(0); opacity: .4; }
      100% { -webkit-transform: scaleY(1) scaleX(1); opacity: 1; }
    }
    @keyframes loading-rect{
      0% {-webkit-transform: scaleY(1) scaleX(1);-moz-transform: scaleY(1) scaleX(1);-ms-transform: scaleY(1) scaleX(1);transform: scaleY(1) scaleX(1); opacity: 1; }
      50% {-webkit-transform: scaleY(1) scaleX(1);-moz-transform: scaleY(1) scaleX(1);-ms-transform: scaleY(1) scaleX(1);transform: scaleY(1) scaleX(1); opacity: 1; }
      75% {-webkit-transform: scaleY(0) scaleX(0);-moz-transform: scaleY(0) scaleX(0);-ms-transform: scaleY(0) scaleX(0);transform: scaleY(0) scaleX(0); opacity: .4; }
      100% {-webkit-transform: scaleY(1) scaleX(1);-moz-transform: scaleY(1) scaleX(1);-ms-transform: scaleY(1) scaleX(1);transform: scaleY(1) scaleX(1); opacity: 1;}
    }
  }
}
