<!DOCTYPE html>
<html>
  <head>
    <base href="<%= webpackConfig.metadata.baseHref %>">
    <title><%= webpackConfig.metadata.title %></title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
  </head>
  <body>
    <root><%= webpackConfig.metadata.appLoadingText %></root>
  </body>
</html>
