/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-cal-button {
  background-image: url(images/sprites.png);
  background-position: 0px 0px;
  width: 16px;
  height: 15px;
}
