/* @import 'compass/utilities/general/clearfix'; */
@import 'fonts';


/* BOOTSTRAP */

/* INPUT GROUP */
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
/* END INPUT GROUP */

/* INPUT GROUP ADDON */
.input-group-addon {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon {
  width: 1%;
  min-width: 16px;

  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}
/* END INPUT GROUP ADDON */

/* END BOOTSTRAP */


$font-color-darkgrey: #5c5c5c;
$border-color-grey: #ebebeb;
$color-blue-dark: #004894;
$color-blue-light: #e8f7fe;
$color-grey-light: #f5f5f5;
$table-color-grey: #fafafa;

tpl-table {
  .icon {
    display: inline-block;
    vertical-align: baseline !important;
    margin-left: 2px;
    margin-right: 2px;
  }

  .top-row {
    height: 30px;
    vertical-align: middle;
    color: $font-color-darkgrey;
    font-size: 12px;

    .elementsperside {
      &__select {
        float: left;
      }

      &__label {
        height: 28px;
        line-height: 28px;
        /* display: inline-block; */

        /* vertical-align: middle; */ /* TODO: not working properly */

        position: relative;

        /* margin-top: -22px; */ /* TODO: not working properly */
        margin-left: 5px;
      }
    }


    &__entry-count {
      /* float: left; */
      height: 30px;
      border: 1px solid $border-color-grey;
      border-radius: 0 !important;
      background-color: #fff;
    }

    form {
      float: right;

      max-width: 200px;
      height: 30px;

      line-height: 28px;
    }

    &__search {
      float: right;
      height: 30px;
      line-height: 28px;
      border: 1px solid $border-color-grey;
      border-radius: 0;
      font-size: 12px;
      font-weight: 200;
      padding-left: 10px;
      width: 145px;
    }
  }

  .bottom-row {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: $color-blue-dark;
    font-size: 12px;
    font-weight: 200;

    .paginator {
      float: right;
      border: 1px solid $border-color-grey;
      height: 30px;
      line-height: 28px;

      div {
        float: left;
        height: 28px;
        line-height: 28px;
        padding: 0 7px;

        &:hover {
          background-color: $color-blue-light;
        }
      }

      &__first {
        border-right: 1px solid $border-color-grey;

        cursor: pointer;

        &.inactive {
          color: $border-color-grey;
          cursor: default;

          &:hover {
            background-color: #fff;
          }
        }
      }

      &__mid {
        border-right: 1px solid $border-color-grey;

        cursor: pointer;

        &.active {
          background-color: $color-blue-dark;
          color: #fff;

          &:hover {
            background-color: $color-blue-dark;
          }
        }
      }

      &__last {
        cursor: pointer;

        &.inactive {
          color: $border-color-grey;
          cursor: default;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.tpltable {
  margin: 10px 0;

  width: 100%;

  border: 1px solid $border-color-grey;

  &__head {
    border: 1px solid $border-color-grey;
    border-bottom: 2px solid $border-color-grey;

    tr {
      border: 1px solid $border-color-grey;
      height: 36px;
      line-height: 36px;


      th {
        border: 1px solid $border-color-grey;
        line-height: 36px;
        height: 36px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 12px;
        position: relative;
      }
    }
  }

  &__body {
    tr {
      border: 1px solid $border-color-grey;
      height: 36px;
      line-height: 36px;

      &.active {
        background-color: $color-blue-light !important;

        &:hover {
          background-color: $color-blue-light !important;
        }
      }

      &:hover {
        background-color: $color-grey-light;
      }

      &:nth-child(odd) {
        background-color: $table-color-grey;
        &:hover {
          background-color: $color-grey-light;
        }
      }

      td {
        border: 1px solid $border-color-grey;
        line-height: 36px;
        height: 36px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 12px;
        position: relative;

        &.active {
          background-color: $color-blue-dark;
        }

        &.clickable {
          cursor: zoom-in;
          cursor: -webkit-zoom-in;
          cursor: -moz-zoom-in;
        }

        &.notclickable {
          cursor: default !important;
        }

        .cell-controll {
          margin: auto;
          width: 36px;
          height: 36px;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          font-size: 14px;

          &.edit {
            background-color: inherit;
            border-left: 1px solid $border-color-grey;

            &:hover {
              background-color: $color-blue-light;
            }
          }

          &.save {
            background-color: $color-blue-dark;
            border-left: 1px solid $border-color-grey;
          }

          .icon {
            display: inline-block;
            vertical-align: middle;
            margin: auto;
          }
        }
      }

      .edit-input {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 34px;
        padding-left: 10px;
        border: 0;
        background-color: inherit;
        width: calc(100% - 36px);

        &:focus {
          outline-width: 0;
        }

      }
    }
  }

  &__row {
    &--placeholder {
      background-color: #fff !important;
      height: 370px !important;
      text-align: center;

      &:hover {
        background-color: #fff !important;
      }
    }
  }

  tr.tpltable__row--placeholder:hover {
    background-color: #fff !important;
  }

  .cell {
    &__image {
      text-align: center;

      img {
        margin: 10px;
      }
    }
  }
}
