
<div class="top-row" ng-if="vm.opts.entriesPerPageCount || vm.opts.searchModel">

  <div class="elementsperside__select prettyselect" ng-if="vm.opts.entriesPerPageCount">
    <select class="top-row__entry-count input-sm" ng-model="vm.opts.entriesPerPageCount" ng-options="o as o for o in vm.POSSIBLE_RANGE_VALUES" ng-style="{'color': vm.opts.colors.secondaryColor}" />
  </div>
  <span class="elementsperside__label" ng-if="vm.opts.entriesPerPageCount">
    {{ 'TABLE_ENTRIES_PER_SITE' | translate }} {{dataOrder}}
  </span>

  <form ng-if="vm.opts.searchModel!==null" ng-submit="setSearch()">
    <input class="top-row__search" type="text" ng-model="vm.searchInput" placeholder="{{'TABLE_SEARCH'|translate}}" />
  </form>

</div>

<table class="tpltable">

  <thead class="tpltable__head">
    <tr>
      <th ng-repeat="column in vm.opts.columns">{{column.name}}</th>
      <th ng-if="vm.opts.editable" class="edit">edit.</th>
    </tr>
  </thead>

  <tbody class="tpltable__body">

    <tr class="tpltable__row--placeholder" ng-if="!vm.opts.entries || !vm.opts.entries.length">
      <td colspan="{{vm.opts.entrieValuesOrder.length + (vm.opts.editable ? 1 : 0)}}">
        <span ng-if="!vm.opts.loading">{{vm.opts.noDataAvailableText}}</span>
        <loadingpoints ng-if="vm.opts.loading"></loadingpoints>
      </td>
    </tr>

    <tr ng-if="vm.opts.entries && vm.opts.entries.length" ng-repeat="row in vm.opts.entries" ng-style="vm.editableCell[0]===$index && {'background-color': vm.opts.colors.primaryColor, 'color': vm.opts.colors.primaryFontColor}" ng-class="{'clickable': vm.opts.onRowClick, 'notclickable': !vm.opts.onRowClick || vm.editableCell[0]!==null}" ng-click="!vm.opts.onRowClick || vm.editableCell[0]!==null || vm.opts.onRowClick($index)">

      <td ng-repeat="cell in vm.opts.entrieValuesOrder" class="tpltable__cell" ng-mouseleave="hover=false" ng-mouseenter="hover=true">

        <div  ng-if="(vm.editableCell[0]!==$parent.$index || vm.editableCell[1]!==$index) || !vm.opts.columns[$index].editable">
          <!-- TEXT -->
          <span ng-if="vm.opts.columns[$index].content === vm.POSSIBLE_CONTENT_TYPES[0]">
            {{row[cell]}} {{columnValues[$index]}}
          </span>
          <!-- IMAGE -->
          <img ng-if="vm.opts.columns[$index].content === vm.POSSIBLE_CONTENT_TYPES[1]" ng-src="{{row[cell]}}" ng-style="{'max-width': vm.opts.columns[$index].maxWidth ? vm.opts.columns[$index].maxWidth : '250px', 'max-height': vm.opts.columns[$index].maxHeight ? vm.opts.columns[$index].maxHeight : '250px'}" />
          <!-- OTHER ??? -->
        </div>

        <span ng-if="vm.editableCell[1]===$index && vm.editableCell[0]===$parent.$index && vm.opts.columns[$index].editable">
          <input type="text" class="edit-input" ng-model="vm.tempEditColumnCopy[cell]" focus-me="vm.editableCell[1]===$index && vm.editableCell[0]===$parent.$parent.$index" ng-click="$event.stopPropagation()" ng-keyup="$event.keyCode == 13 && saveEditedColumn()"/> {{columnValues[$index]}}
        </span>

        <div class="cell-controll edit" ng-if="vm.opts.columns[$index].editable && hover" ng-click="toggleEditCell($event, $parent.$parent.$index, $index)" ng-style="hoverEdit && {'background-color': vm.opts.colors.primaryColor, 'color': vm.opts.colors.primaryFontColor}" ng-mouseenter="hoverEdit=true" ng-mouseleave="hoverEdit=false">
          <div ng-if="hover" class="iconfont iconfont-pen"></div>
        </div>
        <div class="cell-controll save" ng-if="vm.opts.columns[$index].editable && vm.editableCell[0]===$parent.$index && vm.editableCell[1]===$index" ng-style="{'background-color': vm.opts.colors.secondaryColor, 'color': vm.opts.colors.secondaryFontColor}" ng-click="$parent.hover=false;saveEditedColumn()">
          <div  class="iconfont iconfont-check"></div>
        </div>
      </td>

      <td ng-if="vm.opts.editable" class="edit" ng-class="{'active': vm.editableCell[1]===$parent.$index}"></td>

    </tr>
  </tbody>

</table>

<div class="bottom-row" ng-if="vm.opts.paginationModel">
  <div class="paginator">

    <div class="paginator__first" ng-class="{'inactive': vm.opts.paginationModel === 1}"
    ng-style="vm.opts.paginationModel !== 1 && !pageFirstHover && {'color': vm.opts.colors.secondaryColor} ||
    vm.opts.paginationModel !== 1 && pageFirstHover && {'color': vm.opts.colors.secondaryColor, 'background-color': vm.opts.colors.primaryColor}"
    ng-disabled="vm.opts.paginationModel === 1" ng-click="setPage(1)" ng-mouseenter="pageFirstHover=true" ng-mouseleave="pageFirstHover=false"> {{'TABLE_PAGING_START'|translate}}</div>

    <div class="paginator__mid" ng-if="vm.paginationStart > 1" ng-click="skipPagesBackward()"
      ng-style="pageMid1Hover && {'color': vm.opts.colors.secondaryColor, 'background-color': vm.opts.colors.primaryColor} ||
      {'color': vm.opts.colors.secondaryColor}"
      ng-mouseenter="pageMid1Hover=true" ng-mouseleave="pageMid1Hover=false"> ... </div>

      <div class="paginator__mid" ng-class="{'active': i === vm.opts.paginationModel}" ng-repeat="i in [vm.paginationStart, vm.paginationEnd] | toRange" ng-click="setPage(i)"
      ng-style="i !== vm.opts.paginationModel && !pageMidHover && {'color': vm.opts.colors.secondaryColor} ||
      i !== vm.opts.paginationModel && pageMidHover && {'background-color': vm.opts.colors.primaryColor, 'color': vm.opts.colors.secondaryColor} ||
      {'color': vm.opts.colors.secondaryFontColor, 'background-color': vm.opts.colors.secondaryColor}"
      ng-mouseenter="pageMidHover=true" ng-mouseleave="pageMidHover=false"> {{i}} </div>

      <div class="paginator__mid" ng-if="vm.paginationEnd < vm.opts.pageCount" ng-click="skipPagesForward()"
      ng-style="pageMid2Hover && {'color': vm.opts.colors.secondaryColor, 'background-color': vm.opts.colors.primaryColor} ||
      {'color': vm.opts.colors.secondaryColor}"
      ng-mouseenter="pageMid2Hover=true" ng-mouseleave="pageMid2Hover=false"> ... </div>

      <div class="paginator__last" ng-class="{'inactive': vm.opts.paginationModel === vm.opts.pageCount}"
      ng-style="vm.opts.paginationModel !== vm.opts.pageCount && !pageLastHover && {'color': vm.opts.colors.secondaryColor} ||
      vm.opts.paginationModel !== vm.opts.pageCount && pageLastHover && {'color': vm.opts.colors.secondaryColor, 'background-color': vm.opts.colors.primaryColor}"
      ng-disabled="vm.opts.paginationModel === vm.opts.pageCount" ng-click="setPage(vm.opts.pageCount)" ng-mouseenter="pageLastHover=true" ng-mouseleave="pageLastHover=false"> {{'TABLE_PAGING_END'|translate}}</div>

    </div>
  </div>
